@model IEnumerable<LibRes.App.DbModels.ReservationModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(m => item.EventName)
        </td>
        <td>
            EDIT | DELETE | UPDATE
        </td>
    </tr>
}