@{
    ViewData["Title"] = "About";
}


<div>
    <div class="row head-row">
        <h1 class="text-center">TEAM 7</h1>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="~/img/kakashi.png">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-category text-gray">F64628</h5>
                    <h4 class="card-title">Tsvetan Mihaylov</h4>
                    <h6 class="card-category text-gray">Project Manager</h6>
                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth And
                        I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="~/img/sasuke.png">
                    </a>
                </div>
                <div class="card-body card-blur">
                    <h5 class="card-category text-gray">F1234</h5>
                    <h4 class="card-title">Dobromir Gospodinov</h4>
                    <h6 class="card-category text-gray">Software Engineer</h6>
                    <p class="card-description" style="height: 100px">
                        Don't be scared of the truth because we need to restart the human foundation in truth And
                        I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="~/img/naruto.png">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-category text-gray">F83260</h5>
                    <h4 class="card-title">Denis Neychev</h4>
                    <h6 class="card-category text-gray">Lead Engineer</h6>
                    <p class="card-description" style="height: 100px">
                        The chances of finding out what’s really going on in the universe are so remote,
                        the only thing to do is hang the sense of it and keep yourself occupied.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="~/img/sakura.png">
                    </a>
                </div>
                <div class="card-body card-blur">
                    <h5 class="card-category text-gray">F1234</h5>
                    <h4 class="card-title">Iliqn Ivanov</h4>
                    <h6 class="card-category text-gray">Software Engineer</h6>
                    <p class="card-description" style="height: 100px">
                        Don't be scared of the truth because we need to restart the human foundation in truth And
                        I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>