

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Loader CSS class */
.bd-example-modal-lg .modal-dialog {
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

/* Loader CSS class */
.bd-example-modal-lg .modal-dialog .modal-content {
    background-color: transparent;
    border: none;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: lightblue;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card-footer{
    display: inline-block;
}

#date-tb > thead > tr, #date-tb > tbody > tr {
    display: inline-table;
    table-layout: fixed;
    width: 100%;
}

#date-tb { height: 300px; }

#date-tb > tbody {
    height: 200px;
    overflow-y: scroll;
    position: absolute;
}
#notfound {
    position: relative;
    height: 50vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 560px;
    width: 100%;
    padding-left: 160px;
    line-height: 1.1;
}

.notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 140px;
    height: 140px;
    background-image: url('../img/emoji.png');
    background-size: cover;
}

.notfound h1 {

    font-size: 65px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;

    text-transform: uppercase;
}

.notfound h2 {

    font-size: 21px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;

}

.notfound p {

    font-weight: 400;
}

.notfound a {

    display: inline-block;
    font-weight: 700;
    border-radius: 40px;
    text-decoration: none;

}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        width: 110px;
        height: 110px;
    }
    .notfound {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 110px;
    }
}

.card-footer{
    display: flex;
    justify-content: flex-end !important;
}

#m-body-edit{
    padding-top: 0;
    margin-top: 0;
}
#editEvBtn{
    margin: 10px;
}
.paddless {
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}
.nbu-logo
{
    max-width:  460px;
    max-height: 197px;
}

.card-avatar img {
    height: 110px !important;
    width: 110px !important;
}

.card-blur {
    filter: blur(3px);
}
.head-row {
    display: inline !important;
    padding-bottom: 10px;
}
#w-hours {
    font-style: italic;
    font-size: 12px;
}