<form action="/login" method="POST">
    <h2>Login to Fido</h2>
    <div>
        <label for="email">Email</label>
        <input type="email" name="Email" required autofocus />]
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="Password" required autofocus />
    </div>
    <button type="submit">Sign in</button>
</form>